# Unreal Engine folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Visual Studio / IDE
.vs/
*.suo
*.user
*.userprefs
*.VC.db
*.VC.VC.opendb

# Other cache/temp files
*.tmp
*.cache
*.pdb

# GitHub recommended ignores
*.opensdf
*.sdf
